<button class="btn loginBtn" {{ stimulus_action('app', 'changeRoute', 'click') }} data-app-route-param='/login'>
    Log In
</button>

<button class="btn registerBtn" {{ stimulus_action('app', 'changeRoute', 'click') }} data-app-route-param='/register'>
    Register
</button>