@font-face {
    font-family: 'Hartone';
    src: url('./Hartone\ Softed.ttf') format('opentype');
}

@font-face {
    font-family: 'Tasty Donuts';
    src: url('./TASTY\ DONUTS.otf') format('opentype');
}

@font-face {
    font-family: 'Mortina';
    src: url('./Mortina\ DEMO.otf') format('opentype');
}