<div class="appBarLeft" {{ stimulus_action('app','changeRoute','click') }} data-app-route-param="/">
	<h3 class="appLogo">
		SNOWTRICKS
	</h3>
	<div style="background-image: url('{{ asset('images/logo.png') }}')" class="skiLogo"></div>
</div>
