<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>
			TRICKS
		</title>
	</head>
	<body>
		{% set home = false %}
		{% include 'tricks/wrapper/tricksWrapper.html.twig' %}
	</body>
</html>
